@model CodeRumor.Models.NavigationIndicator
<!DOCTYPE html>
<html>
<head>
    <partial name="_HeaderTags" />
</head>
<body>
    <nav id="@((ViewContext.RouteData.Values["Controller"].ToString() == "Home")
                        && (ViewContext.RouteData.Values["Action"].ToString() == "HomeMain") ? "nav" : "navSecond")" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!--This is the humbugger button-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @*@Model.Active("Home","HomeMain"); will be used to make the logic smaller*@

                <!--This is webpage logo-->
                <a id="home" class="navbar-brand cs_height_45
                   @( (ViewContext.RouteData.Values["Controller"].ToString() == "Home")
                        && (ViewContext.RouteData.Values["Action"].ToString() == "HomeMain") ? "active" : "")" asp-area="" asp-controller="Home" asp-action="HomeMain">
                    [CODE] rumor
                    @*<img class="inherit_size cs_place" src="~/images/CodeRumorShort.svg" />*@
                </a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="cs_height_45 @((ViewContext.RouteData.Values["Controller"].ToString() == "Documentation")
                         ? "active" : "")" asp-area="" asp-controller="Documentation" asp-action="DocumentationMain">Documentation</a>
                </li>

                <li>
                    <a class="cs_height_45 @((ViewContext.RouteData.Values["Controller"].ToString() == "Projects")
                        ? "active" : "")" asp-area="" asp-controller="Projects" asp-action="ProjectsMain">Projects</a>
                </li>

                <li>
                    <a class="cs_height_45 @((ViewContext.RouteData.Values["Controller"].ToString() == "Contact")
                        && (ViewContext.RouteData.Values["Action"].ToString() == "ContactMain") ? "active" : "")" asp-area="" asp-controller="Contact" asp-action="ContactMain">Contact</a>
                </li>

                <li>
                    <a class="cs_height_45 @((ViewContext.RouteData.Values["Controller"].ToString() == "TermsOfService")
                        && (ViewContext.RouteData.Values["Action"].ToString() == "TermsOfServiceMain") ? "active" : "")" asp-area="" asp-controller="TermsOfService" asp-action="TermsOfServiceMain">Terms Of Service</a>
                </li>
            </ul>
        </div>
    </nav>

    @if (ViewContext.RouteData.Values["Controller"].ToString() == "Home" &&
     ViewContext.RouteData.Values["Action"].ToString() == "HomeMain")
    { //The animation will only load in the home page.
        <div id="loader-wrapper">

            <div id="loader">
            </div>

            <div class="loader-section section-left">
            </div>

            <div class="loader-section section-right">
            </div>
        </div>
    }


    <div id="content">
        @RenderBody() <!--Everything get rendered in here-->
    </div>


    @if (ViewContext.RouteData.Values["Controller"].ToString() == "Home" &&
     ViewContext.RouteData.Values["Action"].ToString() == "HomeMain")
    {
        <div class="cs_background_dark cs_top_bar_blue">
            <div class="container">
                <partial name="_FooterTagsandScripts" />
            </div>
        </div>
    }
    else if (ViewContext.RouteData.Values["Controller"].ToString() == "Projects")
    {
        <div class="cs_background_dark cs_top_bar_blue">
            <div class="container">
                <partial name="_FooterTagsandScripts" />
            </div>
        </div>
    }
    else if (ViewContext.RouteData.Values["Controller"].ToString() == "Contact" &&
       ViewContext.RouteData.Values["Action"].ToString() == "ContactMain")
    {
        <div class="cs_background_dark cs_top_bar_blue">
            <div class="container">
                <partial name="_FooterTagsandScripts" />
            </div>
        </div>
    }

    @RenderSection("Scripts", required: false)

</body>
</html>


